/*
  Issue on select2 on modal
*/
.select2-close-mask{
    z-index: 2099 !important;
}
.select2-dropdown{
    z-index: 3051  !important;
}

.text-dark{
  color: #2f4050;
}

#page-wrapper {
    position: relative;
}
#page-wrapper:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/policerms/assets/img/pnp.jpg");
    background-size:cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    opacity : 0.1;
    z-index: -1;
}
